@media screen and (min-width: 375px) {
	
	div.imgmain {
		display: flex;
		justify-content: center;

	}
	
	span.s1{
		position: absolute;
		color: #017895;
		text-align: center;
		top: 317px;right : 128px;font-size: 25px;font-weight: 500;
	}
	
	span.s2{
		position: absolute;
		color: #017895;
		text-align: center;
		top: 400px;right : 128px;font-size: 25px;font-weight: 500;
	}


	

	
}
@media screen and (min-width: 650px) {
	
	div.imgmain {
		display: flex;
		justify-content: center;

	}
	
	
	span.s1{
		position: absolute;
		color: #fcf7f1;
		text-align: center;
		top: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));right : 128px;font-size: 45px;font-weight: 500;
	}
	
	span.s2{
		position: absolute;
		color: #fcf7f1;
		text-align: center;
		top: 400px;right : 128px;font-size: 25px;font-weight: 500;
	}


	

	
	
}

@media screen and (min-width: 920px) {
	
	div.imgmain {
		display: flex;
		justify-content: center;

	}

	span.s1{
		position: absolute;
		color: #017895;
		text-align: center;
		top: 317px;right : 128px;font-size: 25px;font-weight: 500;
	}
	
	span.s2{
		position: absolute;
		color: #017895;
		text-align: center;
		top: 400px;right : 128px;font-size: 25px;font-weight: 500;
	}
	


	
	
}

