	html {
		font-size: 10px; 
	}
	div.imgmain {
		display: flex;
		justify-content: center;

	}

	span.s1{
		position: absolute;
		color: #fffefc;
		text-align: center;
		top: 20%;
		right: 12.5%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(1rem, 0.25rem + 2.5vi, 3.5rem);
	}
	
	span.s2{
		position: absolute;
		color: #fffefc;
		text-align: center;
		top: 34%;
		right: 13%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(0.5rem, 0.05rem + 1.5vi, 2rem);
	}
	
	span.s3{
		position: absolute;
		color: #000000;
		text-align: center;
		top: 50%;
		right: 13.5%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(0.5rem, 0.05rem + 1.5vi, 2rem);
	}
	span.s4{
		position: absolute;
		color: #000000;
		text-align: center;
		top: 60%;
		left: 66.5%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(0.5rem, 0.05rem + 1.5vi, 2rem);
	}
	span.s5{
		position: absolute;
		color: #000000;
		text-align: center;
		top: 75%;
		left: 65%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(0.5rem, 0.05rem + 1.5vi, 2rem);
	}
	span.s6{
		position: absolute;
		color: #000000;
		text-align: center;
		top: 85%;
		left: 61.5%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(0.5rem, 0.05rem + 1.5vi, 2rem);
	}
	span.s7{
		position: absolute;
		color: #000000;
		text-align: center;
		top: 95%;
		right: 10.8%;
		white-space: nowrap;
		width: 27%;
		font-size: clamp(0.5rem, 0.05rem + 1.5vi, 2rem);
	}
	

	
	

