
	div.imgmain {
		display: flex;
		justify-content: center;

	}

	span.s1{
		position: absolute;
		color: #017895;
		text-align: center;
		top: 29%;
		right : calc(100vh - 84vh);
		font-size: clamp(2rem, 2.7vw + 1.4rem, 3.4rem);
	}
	

	
	

